<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.ajcm.bibliarv"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:targetSdkVersion="17"/>
    <application 
        android:label="@string/app_name" 
        android:name=".Singleton" 
        android:icon="@drawable/la_biblia">
        <activity 
            android:name=".SplashScreemActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InicioActivity"/>
        <activity
            android:name=".LibroActivity"/>
        <activity
            android:name=".libros.TextoActivity"
            android:theme="@style/StyledIndicators"/>
        <activity
            android:name=".favorito.FavoritoListActivity"/>
    </application>
</manifest> 
